<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Mighty widgets by Boyarshinow Roman</h1>
    <h2>REST API Reference</h2>
    <p>
        Welcome to the Mighty Widgets REST API reference. You can use this API to work with widget-type objects in your
        application.
        Mighty widgets provides an API to create, delete, and get widget objects in the format of JSON.
        In the sections below, you can find documentation, expected HTTP response codes and sample requests to each
        available API method.
    </p>
    <h2>URI Structure</h2>
    <p>
        URI Structure section here
    </p>
    <h2>Pagination</h2>
    <p>
        Pagination section here
    </p>
    <h2>Ordering</h2>
    <p>
        Ordering section here
    </p>
    <h2>Error responses</h2>
    <p>
        Error responses section here
    </p>
    <h2>Resources</h2>
    <h3>Creating a widget</h3>
    <p>
    <pre>
    {
        "x": 546546456,
        "y": 0,
        "height": 0,
        "width": 0,
        "zIndex": 0
    }
    </pre>
    Creating widget section here</p>
    <h3>Get widget by ID</h3>
    <p>Get widget by id section here</p>
    <h3>Updating widget</h3>
    <p>Updating widget section here</p>
    <h3>Getting a list of widgets</h3>
    <p>Getting a list of widgets section here</p>
    <h3>Deleting a widget</h3>
    <p>Deleting widget section here</p>
</div>
</body>
</html>